.foo
.DS_Store
*.exe
*.o
*.s
*.lo
*.la
*.al
*.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo __pycache__
*.obj
*.dump
*.log
*.lst
*.txt
*.run
nti_ms
nti_gnu
linux
lst*
macos
*.ast
*.pdb
*.ilk
pngerrs
*~
~$*
OLD*
