BODY, TH, TD, LI
{ font-family: Arial, Helvetica, sans-serif;
}

DL DT
{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

UL.alpha
{ list-style-type: upper-alpha;
}

UL.alpha OL
{ list-style-type: decimal;
}

UL.alpha OL OL
{ list-style-type: lower-alpha;
}

UL.alpha
{ list-style-type: upper-alpha;
}

OL
{ list-style-type: decimal;
}

OL OL
{ list-style-type: lower-alpha;
}

