/* Heading rules */
H1, H2, H3, H4, H5, H6
{ font-family: Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-weight: bold;
  font-style: normal;
}

H1, H2
{ background: #E0E0E0;
  margin: none;
  border: none;
  padding: none;
}

H1
{ font-size: 24pt;
}

H2
{ font-size: 18pt;
}

H3
{ font-size: 14pt;
}

UL.alpha
{ list-style-type: upper-alpha;
}

UL.alpha OL
{ list-style-type: decimal;
}

UL.alpha OL OL
{ list-style-type: lower-alpha;
}

