1 ICON "..\..\bitmap\icons\frigg.ico"
131 ICON external\canvas.ico
132 ICON external\separatorh.ico
133 ICON external\separatorv.ico
134 ICON external\scroller.ico
135 ICON external\texteditor.ico
136 ICON external\edittext.ico
137 ICON external\textfield.ico
138 ICON external\pushbutton.ico
139 ICON external\iconbutton.ico
140 ICON external\optionbutton.ico
141 ICON external\radiobutton.ico
142 ICON external\checkbox.ico
143 ICON external\scrollbarh.ico
144 ICON external\scrollbarv.ico
145 ICON external\statictext.ico
146 ICON external\scrolllist.ico
147 ICON external\caption.ico
148 ICON external\dialogfield.ico
149 ICON external\downarrow.ico
150 ICON external\groupradiobutton.ico
151 ICON external\groupbox.ico
152 ICON external\column.ico
153 ICON external\row.ico
