1 ICON "..\..\bitmap\icons\frigg.ico"
131 external\canvas.ico
132 external\separatorh.ico
133 external\separatorv.ico
134 external\scroller.ico
135 external\texteditor.ico
136 external\edittext.ico
137 external\textfield.ico
138 external\pushbutton.ico
139 external\iconbutton.ico
140 external\optionbutton.ico
141 external\radiobutton.ico
142 external\checkbox.ico
143 external\scrollbarh.ico
144 external\scrollbarv.ico
145 external\statictext.ico
146 external\scrolllist.ico
147 external\caption.ico
148 external\dialogfield.ico
149 external\downarrow.ico
150 external\groupradiobutton.ico
151 external\groupbox.ico
152 external\column.ico
153 external\row.ico
