#include <windows.h>

#define DID_CANCEL      503

Abort DIALOG 66, 41, 160, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Printing in progress...", 101, 40, 20, 80, 8
    PUSHBUTTON      "Cancel print job", DID_CANCEL, 41, 50, 78, 14
END

1 CURSOR "ulcornercursor.cur"
2 CURSOR "lrcornercursor.cur"
3 CURSOR "lefthandcursor.cur"