setenv BETALIB /usr/local/lib/beta
set path = ( $path ${BETALIB}/bin )
switch("$OP_TYPE")
  case "IRIX*":
    if ($?LD_LIBRARY_PATH) then
      setenv LD_LIBRARY_PATH $BETALIB/lib/sgi:./sgi:$LD_LIBRARY_PATH
    else
      setenv LD_LIBRARY_PATH $BETALIB/lib/sgi:./sgi
    endif
    breaksw
  default:
    breaksw
endsw
