/* Used to present macintosh stuff in Chicago font on mac */
CODE.chicago 
{
  font-family: Chicago, fantasy;
}
/* used for presenting menues */
STRONG.macmenuitem
{
  font: 14pt Chicago, fantasy;
  color: black;
  background: #DDDDDD;
  font-weight: bold;
  padding: 3px;
}
