1 ICON "../../bitmap/icons/mjolner.ico"
#include <windows.h>

#define DID_CANCEL      503

Abort DIALOG 66, 41, 160, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Printing in progress...", 101, 40, 20, 80, 8
    PUSHBUTTON      "Cancel print job", DID_CANCEL, 41, 50, 78, 14
END

131 ICON "../../interfacebuilder/external/canvas.ico"
132 ICON "../../interfacebuilder/external/separatorh.ico"
133 ICON "../../interfacebuilder/external/separatorv.ico"
134 ICON "../../interfacebuilder/external/scroller.ico"
135 ICON "../../interfacebuilder/external/texteditor.ico"
136 ICON "../../interfacebuilder/external/edittext.ico"
137 ICON "../../interfacebuilder/external/textfield.ico"
138 ICON "../../interfacebuilder/external/pushbutton.ico"
139 ICON "../../interfacebuilder/external/iconbutton.ico"
140 ICON "../../interfacebuilder/external/optionbutton.ico"
141 ICON "../../interfacebuilder/external/radiobutton.ico"
142 ICON "../../interfacebuilder/external/checkbox.ico"
143 ICON "../../interfacebuilder/external/scrollbarh.ico"
144 ICON "../../interfacebuilder/external/scrollbarv.ico"
145 ICON "../../interfacebuilder/external/statictext.ico"
146 ICON "../../interfacebuilder/external/scrolllist.ico"
147 ICON "../../interfacebuilder/external/caption.ico"
148 ICON "../../interfacebuilder/external/dialogfield.ico"
149 ICON "../../interfacebuilder/external/downarrow.ico"
150 ICON "../../interfacebuilder/external/groupradiobutton.ico"
151 ICON "../../interfacebuilder/external/groupbox.ico"
152 ICON "../../interfacebuilder/external/column.ico"
153 ICON "../../interfacebuilder/external/row.ico"
