/* miadoc.css
 *  Cascading Style Sheet, level 1 for MIADOC manuals
 *  $Date: 1999-01-14 14:09:00 $
 *  $Revision: 1.7 $
 *  $Author: datpete $
 */

/* Anchor rules. Notice: :visited, :active, :link are "pseudo
 * classes".
 * Notice that the underlining of links is removed by 
 * text-decoration: none. This is a matter of taste, but looks
 * better if printed.
 */

A:visited 
 { color: #00008B /* darkblue */; 
   background: none;
   text-decoration: none;
 }
A:link 
 { color: #00008B /* darkblue */; 
   background: none;
   text-decoration: none;
 }

/* Links to other sites presented specially */
A.external:visited {
  color: #CD853F /* Peru */; 
  background: none;
  font-weight: normal; 
  text-decoration: none;
}
A.external:link {
  color: #8B4726 /* sienna */;
  background: none;
  font-weight: normal;
  text-decoration: none;
}

/* BODY rules */
BODY
{ 
  background: #F0F0FB /* a light blue */;
  color:black;
  /* margin-left: 3%; */
  /* margin-right: 3%; */
}

/* Heading rules */
H1
 { color: red; 
   background: none;
   font-style:italic;
 }
H2 
 { color: #006400 /* darkgreen */;
   background: none;
   font-style:italic;
 }
H3 
 { color: #006400 /* darkgreen */; 
   background: none;
   font-style:italic;
 }
H4 
 { color: #006400 /* darkgreen */; 
   background: none;
   font-style:italic;
 }

/* PRE, CODE - should use the same font */
PRE, CODE 
{
  font-family: courier;
}


/* FORM INPUT rules for javascript navigation buttons */
INPUT.nice { 
  background: #DDDDDD;
  color: #00008B /* darkblue */;
  font-size: 8px;
}
INPUT.disabled { 
  background: #00868B /* Turquoise */;
  color: #B0C4DE /* LightSteelBlue */;
  font-size: 8px;
}

/* Specialities */
/* A large box with a red frame for displaying important notes */
STRONG.boxed 
{
  align: center;
  font: 24pt Helvetica, Verdana, Arial;
  color: red;
  font-weight: bold;
  border: solid 3px red;
}
/* used for presenting menues */
STRONG.menuitem
{
  font: 14pt Helvetica, Verdana, Arial;
  color: black;
  background: #DDDDDD;
  font-weight:bold;
  border: solid 2px #DDDDDD;
  border-spacing: 0px;
  border-style: outset;
  padding: 3px;
}
/* Styles for presenting BETA code */
PRE.beta
{
  margin-left: 40px;
  color: black;
  background: #F5DEB3 /* wheat */;
  border: solid 3px #DDDDDD;
  border-style: outset;
  width: auto;
  white-space: pre;
  padding: 3px;
}
H4.betacaption
{
  margin-left: 50px;
  color: black; 
  background: none; 
  text-decoration: underline;
}
