/* miadoc.css
 *  Cascading Style Sheet, level 1 for MIADOC manuals
 *  $Date: 2000-10-15 15:16:01 $
 *  $Revision: 1.53 $
 *  $Author: datpete $
 *   
 * Please check this at
 *   http://www.htmlhelp.com/tools/csscheck/
 * Known issues:
 *   It complains about color names. So we use #XXXXXX instead.
 */

/* General formatting rules */
.disabled 
 { color: #BEBEBE;  /* silver*/
   background: none;
 }
.smaller
{
  font-size: 90%;
  line-height: 95%;
}
/* Anchor rules. Notice: :visited, :active, :link are "pseudo
 * classes".
 * Notice that the underlining of links is removed by 
 * text-decoration: none. This is a matter of taste, but looks
 * better if printed.
 */

A:visited, A:link, A:active
{ color: #00557A;  /* #669999 */
  background: none;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
A:active
{ text-decoration: underline;
}
A:hover /* Internet Explorer only */ 
{ color: #669999;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

DIV.toc DL DL
{
  margin-left: -20px;
}

/* BODY rules */
BODY, TH, TD
{ 
  background: #F6F6FF;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

/* Heading rules */
H1, H2, H3, H4, H5, H6
{ font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: #00557A;
  padding: 3pt;
  margin-top: 8pt;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  border: none; /* Netscape hack */
  font-weight: bold;
  font-style: normal;
}

H1
{
  font-size: 18pt;
  text-align: center;
}
H2
{
  font-size: 16pt;
}
H3
{
  font-size: 14pt;
}
H4, H5, H6
{
  font-size: 12pt;
}

/* PRE, CODE - should use the same font */
PRE, CODE 
{
  font-family: Courier, Courier New, monospace;
  font-size: 12pt;
}

TABLE.opaque
{
  background: #FFFFFF;
  color: #000000;
  border: solid 3px #FFFFFF;
  border-style: outset;
}

TABLE.opaque TD
{
  background: #FFFFFF;
  color: #000000;
  border: solid 3px #FFFFFF;
  border-style: outset;
}

TABLE.opaque TH
{
  background: #FFFFFF;
  color: #000000;
  border: solid 3px #FFFFFF;
  border-style: outset;
}

/* FORM INPUT rules for javascript navigation buttons */
INPUT.disabled { 
  background: #BEBEBE; /* Silver */
  color: #B0C4DE; /* LightSteelBlue */
}
OPTION {
  background: white;
  color: black;
}

/* used for presenting menues */
STRONG.menuitem
{
  font: 14pt Helvetica, Verdana, Arial, sans-serif;
  /*color: black;*/
  background: #DDDDDD;
  font-weight: bold;
  /* border-width: medium;
     border-color: #FFFFFF;
     border-spacing: 0px;
     border-style: outset;
  */
  padding: 3px;
}
/* used for figure captions */
STRONG.figure
{
  color: black;
  background: none;
  font-weight: bold;
  font-style: italic;
}
DIV.index
{
  font-size: 12pt;
  font-family: Courier, monospace;
}
/* Styles for presenting BETA code */
PRE.interface
{
  font-size: 12pt;
  font-family: Courier, monospace;
  white-space: pre;
}
PRE.beta
{
  font-size: 12pt;
  font-family: Courier, monospace;
  margin-left: 40px;
  margin-right: 100%;
  color: #000000;
  background: #F5DEB3; /* wheat */
  border: solid 3px #F5DEB3; /* wheat */
  border-style: outset;
  width: auto;
  white-space: pre;
  padding: 5px;
}
H4.betacaption
{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 50px;
  padding: 0;
  border: 0;
  color: black; 
  background: none; 
  text-decoration: underline;
  font-weight: bold;
  font-style: normal;
}
TABLE.beta
{
  background: #F5DEB3; /* wheat */;
  color: #000000;
  border: solid 3px #F5DEB3; /* wheat */
  border-style: outset;
}
TABLE.beta TD
{
  font-family: monospace, courier;
  color: #000000;
  background: #F5DEB3; /* wheat */
  white-space: pre;
}
TABLE.beta TD PRE
{
  color: #000000;
  background: #F5DEB3; /* wheat */
  white-space: pre;
}

A.SideBar, A.SideBar:link, A.SideBar:active, A.SideBar:visited, A.Sidebar:hover
{ font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: #669999; /* #00557A */
  font-weight: bold;
  font-style: normal;
}

A.SideBarDisabled
{ font-family: Arial, Helvetica, sans-serif;
  color: #BEBEBE;  /* silver*/
  background: #669999; /* #00557A */
  font-weight: bold;
  font-style: normal;
}

A.SideBarFixed, A.SideBarFixed:link, A.SideBarFixed:active, A.SideBarFixed:visited, A.SidebarFixed:hover
{ font-family: monospace;
  color: white;
  background: #669999; /* #00557A */
  font-weight: bold;
  font-style: normal;
}

A.SideBarFixedDisabled
{ font-family: monospace;
  color: #BEBEBE;  /* silver*/
  background: #669999; /* #00557A */
  font-weight: bold;
  font-style: normal;
}

.indexed
{
  color: #00008B; /* darkblue */
}
