/* miadoc.css
 *  Cascading Style Sheet, level 1 for MIADOC manuals
 *  $Date: 1999-02-25 21:36:29 $
 *  $Revision: 1.17 $
 *  $Author: beta $
 *   
 * Please check this at
 *   http://www.htmlhelp.com/tools/csscheck/
 * Known issues:
 *   It complains about color names. So we use #XXXXXX instead.
 */

/* Anchor rules. Notice: :visited, :active, :link are "pseudo
 * classes".
 * Notice that the underlining of links is removed by 
 * text-decoration: none. This is a matter of taste, but looks
 * better if printed.
 */

DIV.toc A:visited 
 { color: #00008B /* darkblue */; 
   background: none;
   text-decoration: none;
 }
DIV.toc A:link 
 { color: #00008B /* darkblue */; 
   background: none;
   text-decoration: none;
 }
DIV.toc A.disabled:link 
 { color: #6CA6CD /* skyblue3 */; 
   background: none;
   text-decoration: none;
 }
DIV.toc A:hover /* Internet Explorer only */ 
{ color: #00008B /* darkblue */; 
  background: none;
  text-decoration: underline;
}

PRE.gram A:visited 
{ color: #00008B /* darkblue */; 
  background: none;
  text-decoration: none;
}
PRE.gram A:link 
{ color: #00008B /* darkblue */; 
  background: none;
  text-decoration: none;
}
PRE.gram A.disabled:link 
{ color: #00008B /* darkblue */; 
  background: none;
  text-decoration: none;
}
PRE.gram A:hover /* Internet Explorer only */ 
{ color: #00008B /* darkblue */; 
  background: none;
  text-decoration: underline;
}

A:visited 
{ 
/* We accept defaults (:-) */
}
A:link 
{ color: #00008B /* darkblue */; 
  background: none;
}
A.disabled:link 
 { color: #6CA6CD /* skyblue3 */; 
   background: none;
   text-decoration: none;
 }

/* BODY rules */
BODY
{ 
  background: #F6F6FF;
  color: black;
  font-family: Arial, sans-serif;
}

/* Heading rules */
H1, H2, H3, H4, H5, H6
{ color: red /* #CD5C5C *//* indianred */;
  background: none;
}

/* PRE, CODE - should use the same font */
PRE, CODE 
{
  font-family: monospace, courier;
}

TABLE.opaque
{
  background: #FFFFFF;
  color: #000000;
  border: solid 3px #FFFFFF;
  border-style: outset;
}

/* FORM INPUT rules for javascript navigation buttons */
INPUT.nice { 
  background: #DDDDDD;
  color: #00008B /* darkblue */;
}
INPUT.disabled { 
  background: #00868B /* Turquoise */;
  color: #B0C4DE /* LightSteelBlue */;
}

/* Specialities */
/* A large box with a red frame for displaying important notes */
H1.boxed 
{
  align: center; /* Not recognized by csscheck - but has effect! */
  font: 24pt Helvetica, Verdana, Arial;
  color: red;
  background: #F6F6FF /* body color */;
  font-weight: bold;
  border: solid 3px red;
}
/* used for presenting menues */
STRONG.menuitem
{
  font: 14pt Helvetica, Verdana, Arial;
  color: black;
  background: #DDDDDD;
  font-weight:bold;
  border: solid 2px #DDDDDD;
  border-spacing: 0px;
  border-style: outset;
  padding: 3px;
}
/* Styles for presenting BETA code */
PRE.beta
{
  margin-left: 40px;
  color: #000000;
  background: #F5DEB3; /* wheat */
  border: solid 3px #F5DEB3; /* wheat */
  border-style: outset;
  width: auto;
  white-space: pre;
  padding: 3px;
}
H4.betacaption
{
  margin-left: 50px;
  color: black; 
  background: none; 
  text-decoration: underline;
}
TABLE.beta
{
  background: #F5DEB3; /* wheat */;
  color: #000000;
  border: solid 3px #F5DEB3; /* wheat */
  border-style: outset;
}
TABLE.beta TD
{
  font-family: monospace, courier;
  color: #000000;
  background: #F5DEB3; /* wheat */
  white-space: pre;
}
TABLE.beta TD PRE
{
  color: #000000;
  background: #F5DEB3; /* wheat */
  white-space: pre;
}
