/* miadoc.css
 *  Cascading Style Sheet, level 1 for MIADOC manuals
 *  $Date: 1999-01-11 23:24:06 $
 *  $Revision: 1.3 $
 *  $Author: datpete $
 */

/* Anchor rules. Notice: :visited, :active, :link are "pseudo
 * classes".
 * Notice that the underlining of links is removed by 
 * text-decoration: none. This is a matter of taste, but looks
 * better if printed.
 */

A:visited 
 { color: darkblue; text-decoration: none; }
A:link 
 { color: darkblue; text-decoration: none; }

/* Links to other sites presented specially */
A.external:visited {
  color: Peru; 
  font-weight: normal; 
  text-decoration: none;
}
A.external:link {
  color: Sienna;
  font-weight: normal;
  text-decoration: none;
}

/* BODY rules */
BODY
{ 
  background: lightblue;
  color:black;
  /* margin-left: 3%; */
  /* margin-right: 3%; */
}

/* Heading rules */
H1
 { color: red; font-style:italic; }
H2 
 { color: darkgreen; font-style:italic; }
H3 
 { color: darkgreen; font-style:italic; }
H4 
 { color: darkgreen; font-style:italic; }

/* PRE, CODE - should use the same font */
PRE 
{
  margin-left: 5%;
  margin-right: 5%;
  font-family: courier;
  /* border: 1px black; */
}
CODE 
{
  font-family: courier;
}


/* FORM INPUT rules for javascript navigation buttons */
INPUT.nice { 
  background: #DDDDDD;
  color: darkblue;
  font-size: 8pt;
}
INPUT.disabled { 
  background: Turquoise;
  color: LightSteelBlue;
  font-size: 8pt;
}

/* Specialities */
/* A large box with a red frame for displaying important notes */
STRONG.boxed 
{
  align: center;
  font: small-caps 24pt Verdana, Arial;
  color: red;
  font-weight: bold;
  border: solid 3px red;
}
/* used for presenting menues */
STRONG.menuitem
{
  font: 14pt Helvetica, Verdana, Arial;
  background-color: #DDDDDD;
  background-image: none;
  font-weight:bold;
  border: solid 2px #DDDDDD;
  border-spacing: 0pt;
  border-style: outset;
  padding: 3pt;
}
/* Styles for presenting BETA code */
PRE.beta
{
  color: black;
  background: wheat;
  border: solid 3px #DDDDDD;
  border-style: outset;
  width: auto;
}
