APP_ICON                ICON    DISCARDABLE     "HYPER.ICO"
BELLEVUE                ICON    DISCARDABLE     "EXCELCMP.ICO"
SEATTLE                 ICON    DISCARDABLE     "SEA.ICO"
REDMOND                 ICON    DISCARDABLE     "red.ico"
